body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

.UScolumn {
    float: left;
    width: 50%; /* Adjusted width for two people */
    margin-bottom: 16px;
    padding: 0 8px;
}

/* .UScard {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 8px;
} */

.USabout-section {
    padding: 50px;
    text-align: center;
    background-color: #474e5d;
    color: white;
}

/* .UScontainer {
    padding: 0 16px;
} */

.UScard {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 8px;
    text-align: center; /* Center the content within the card */
}

.UScard img {
    width: 100%;
    max-width: 500px;
    max-height: 300px; /* Set a maximum height for the images */
    height: auto;
}


.UScontainer {
    padding: 0 16px;
    max-width: 400px; /* Set a maximum width for the container */
    margin: 0 auto; /* Center the container */
}


.UScontainer::after, .USrow::after {
    content: "";
    clear: both;
    display: table;
}

.UStitle {
    color: grey;
}

.USbutton {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
}

.USbutton:hover {
    background-color: #555;
}

@media screen and (max-width: 650px) {
    .UScolumn {
        width: 100%;
        display: block;
    }
}
