.backgroundStyle2 {
    background-image: url('../Images/Candlestick.jpg');
    /* Replace 'your-image-url' with the actual URL */
    background-size: cover;
    background-position: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

/* cardStyle */
.cardStyle {
    margin: 50px auto;
    max-width: 500px;
}